.header { 
  background-color: var(--gray-700);
  height: 12.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}