.wrapper { 
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  html { 
    font-size: 87.5%;
  }
  
  .wrapper { 
    grid-template-columns: 1fr;
  }
}

.aboutTodos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0 1.5rem 0;
  font-weight: bold;
  font-size: 0.875rem;
}

.todosCreated { 
  color: var(--blue);
}

.todosDone { 
  color: var(--purple);
}

.counter {
  width: 1.5rem;
  height: 1.5rem; 
  font-size: 0.75rem;
  margin-left: 0.5rem;
  color: var(--gray-200);
  background-color: var(--gray-400);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
}